<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NMTS Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8abd">  <td>21/03/29 14:33:14</td>   <td>0</td> <td title="&gt;&gt;DriverTestcase.BeforeSuite()[pri:0, instance:Testscript.NMTS@27efef64]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>21/03/29 14:33:19</td>   <td>5091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.BeforeMethod(java.lang.reflect.Method, org.testng.ITestContext, [Ljava.lang.Object;)[pri:0, instance:Testscript.NMTS@27efef64]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>21/03/29 14:33:19</td>   <td>5092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.setup(java.lang.String)[pri:0, instance:Testscript.NMTS@27efef64]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>21/03/29 14:33:24</td>   <td>9849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NMTS.NumberInquiryForNMTS([[Ljava.lang.Object;)[pri:0, instance:Testscript.NMTS@27efef64]">NumberInquiryForNMTS</td> 
  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>21/03/29 14:33:43</td>   <td>28795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.Teardown2()[pri:0, instance:Testscript.NMTS@27efef64]">&lt;&lt;Teardown2</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>21/03/29 14:33:43</td>   <td>28798</td> <td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.Teardown()[pri:0, instance:Testscript.NMTS@27efef64]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
</table>
