<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NH Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a09464">  <td>20/11/30 08:27:18</td>   <td>0</td> <td title="&gt;&gt;DriverTestcase.BeforeSuite()[pri:0, instance:Testscript.NumberHosting@7f9a81e8]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>20/11/30 08:27:25</td>   <td>7420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.BeforeMethod(java.lang.reflect.Method, org.testng.ITestContext, [Ljava.lang.Object;)[pri:0, instance:Testscript.NumberHosting@7f9a81e8]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>20/11/30 08:27:25</td>   <td>7421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.setup(java.lang.String)[pri:0, instance:Testscript.NumberHosting@7f9a81e8]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>20/11/30 08:27:33</td>   <td>15539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberHosting.NumberInquiry([[Ljava.lang.Object;)[pri:0, instance:Testscript.NumberHosting@7f9a81e8]">NumberInquiry</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>20/11/30 08:49:50</td>   <td>1352704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.Teardown2()[pri:0, instance:Testscript.NumberHosting@7f9a81e8]">&lt;&lt;Teardown2</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>20/11/30 08:49:51</td>   <td>1353062</td> <td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.Teardown()[pri:0, instance:Testscript.NumberHosting@7f9a81e8]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
</table>
