<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="837a77">  <td>20/11/04 06:20:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IntegrationNMTSWithCocom.NumberInquiryForNMTS([[Ljava.lang.Object;)[pri:0, instance:Testscript.IntegrationNMTSWithCocom@6a2bcfcb]">NumberInquiryForNMTS</td> 
  <td>main@2123444693</td>   <td></td> </tr>
</table>
